GOOGLE_CLOUD_PROJECT=
FIRESTORE_DATABASE_ID=(default)
SNAPSHOT_RETENTION_SECONDS=
REPLAY_TTL_SECONDS=
CAPTURED_AT_FUTURE_SKEW_SECONDS=
CAPTURED_AT_PAST_LIMIT_SECONDS=
MAX_WIRE_BODY_BYTES=
MAX_DECOMPRESSED_BODY_BYTES=
MAX_PROCESSES_PER_SNAPSHOT=
CURSOR_SIGNING_SECRET_RESOURCE=
